# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.
# OBJECTIVES:
- List popular languages that Data Science
- Commonly used libraries used by Data Scientists
- Arithmetic expressions in Python

# Some of the popular languages that Data Scientists use are:
   1. Python
   2. R
   3. SQL

# Some of the commonly used libraries used by Data Scientists include:
  1. Numpy
  2. Scikit Learn
  3. Pandas
  4. Matplotlib

| Data Science Tools |
----------------------
| Jupyter Notebook|
|RStudio|
|Hadoop Spark Apache Flink|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
- Name: Priyanka Suresh Avate